<!DOCTYPE html>

<head>
    <meta http-equiv="refresh" content="5;url= https://wpa.qq.com/msgrd?v=3&uin=2155328029&site=qq&menu=yes">
    <title>即将跳转至三五二八时</title>
    <script language="javascript">
        location.replace("https://wpa.qq.com/msgrd?v=3&uin=2155328029&site=qq&menu=yes")
    </script>
</head>

<body>
    <h1>正在跳转，请稍候...此过程最长5秒</h1>
</body>