<!DOCTYPE HTML>

<html>

<head>
    <title>
        第五届成员已拟订_团学会迎来新血液_成都外国语学校高新校区团学会
    </title>
    <meta charset="utf-8" />
    <meta name="keywords" content="成外高新团学会，成都外国语学校高新校区，成外高新，成都外国语，官方网站，官网">
    <meta name="description" content="成都外国语学校高新校区团学会官网_news2；成都外国语学校高新校区团学会官网；成都外国语学校高新校区团学会是学校党委领导和团委指导下的主要学生组织，是学生与学校沟通、联系的桥梁和纽带。成外高新团学会以“从同学中来，到同学中去，为同学服务，对同学负责”为行动准则，自主开展工作，致力于丰富同学课余文化生活，助力完善校园管理机制。团学会积极促进同学全面成长进步、培养优良学风，收集同学学业发展、身心健康、社会融入、权益维护等方面的需求和困难，并及时反馈学校，帮助有效解决。团学会是现在学校中的组织结构之一，是学生自己的群众性组织，是学校联系学生的桥梁和纽带，是每个学校不可缺少的部门。它是提倡自我服务，自我管理，自我学习的学生组织，为学校学生和老师提供无偿服务的部门。引导同学努力做到身体好、学习好、工作好，德、智、体、美、劳全面发展，成为有社会主义觉悟的、有科学文化知识的、身体健康的人。每个学校的团学会部门会有细微差别。">
    <meta name="author" content="辉晨Gloridust">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?6834bdf247b1cea43f741ab050c3d25a";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a href="/index.html" class="logo">CFLSGX团学会</a>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li class="active"><a href="/index.html">主页</a></li>
                <li class="active"><a href="/members.html">部门及成员</a></li>
                <li class="active"><a href="/club.html">学生社团</a></li>
                <li class="active"><a href="/advice.html">意见反馈</a></li>
                <li class="active"><a href="/about.html">关于本站</a></li>
            </ul>
            <ul class="icons">
                <li><a href="https://wpa.qq.com/msgrd?v=3&uin=2155328029&site=qq&menu=yes" target="_blank" class="icon brands fa-qq"><span class="label">QQ</span></a></li>
                <li><a href="https://github.com/Gloridust/cflsgx.top" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">

            <!-- Post -->
            <section class="post">
                <header class="major">
                    <span class="date">September 13, 2021</span>
                    <h1>
                        第五届成员已拟订</br>团学会迎来新血液
                    </h1>
                </header>
                <p>
                    名单已贴至孔子广场校公告栏处，请大家自行查看！
                </p>
                <ul class="actions special">
                    <li><a href="/members.html" class="button large">了解部门及成员</a></li>
                </ul>
            </section>

        </div>


    </div>

    <!-- Copyright -->
    <div id="copyright">
        <ul>
            <li>&copy;成高团学会</li>
            <li><a href="https://github.com/Gloridust/cflsgx.top">Copyright © 2021 Hosted by 辉晨Gloridust.</a></li>
        </ul>
    </div>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>